body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 40px;
  }
  
  h1{
    font-size: 80%;
  }
  
  h2{
    font-size: 18px;
    margin: 0px;
    padding: 0px;
  }
  
  .borda{
      border: 2px solid black;
      border-radius: 5px;
  }

  .esp{
    margin-bottom: 5%;
}

  @media (max-width: 600px){
    #textInput{
      width: 100%;
    }
    h1{
      font-size: 20px;
    }
    h2{
      font-size: 19px;
    }
    span{
      font-size: 16px;
    }
  }
  